Vagrant.configure("2") do |config|
    config.vm.box = "rockylinux/8"
    config.disksize.size="10GB"

    config.vm.define "sms", primary: true do |sms|
      sms.vm.provider "virtualbox" do |vboxsms|
        vboxsms.memory = 2048
        vboxsms.cpus = 2
      end
      sms.vm.network "private_network",
                     ip: "192.168.7.2",
                     virtualbox__intnet: "provisioning"
      sms.vm.provision "shell", inline: "echo sms.localdomain > /etc/hostname"
      sms.vm.provision "shell", inline: "echo 192.168.7.2 sms sms.localdomain >> /etc/hosts"
      sms.vm.provision "shell", inline: "yum -y install http://repos.openhpc.community/OpenHPC/2/EL_8/x86_64/ohpc-release-2-1.el8.x86_64.rpm"
      sms.vm.provision "shell", inline: "yum install dnf-plugins-core"
      sms.vm.provision "shell", inline: "yum config-manager --set-enabled powertools"
      sms.vm.provision "shell", inline: "yum -y install docs-ohpc vim"
      sms.vm.provision "shell", inline: "/vagrant/resize-disk.sh"
      sms.vm.provision "shell", inline: "/vagrant/recipe.sh"
      # Disable SELINUX.
      sms.vm.provision "shell", inline: "sed -e "s/SELINUXTYPE=targeted/SELINUXTYPE=disabled/" /etc/selinux/config"
      sms.vm.provision "shell", inline: "setenforce 0", run: "always"
      sms.vm.provision "shell", inline: "hostname sms.localdomain", run: "always"
      sms.vm.provision "shell", inline: "hostname sms.localdomain", run: "always"
      sms.vm.provision "shell", inline: "/vagrant/slurmdb-setup.sh"

    end

