Vagrant.configure("2") do |config|
    config.vm.box = "rockylinux/8"
    config.disksize.size="15GB"
    #config.vm.synced_folder "cluster/", "/vagrant"

    config.vm.define "sms", primary: true do |sms|
      sms.vm.provider "virtualbox" do |vboxsms|
        vboxsms.memory = 2048
        vboxsms.cpus = 2
      end
      sms.vm.network "private_network",
                     ip: "192.168.7.2",
                     virtualbox__intnet: "provisioning"
      sms.vm.network "forwarded_port", guest: 80, host: 57783, id: "nagios" # nagios port
      sms.vm.network "forwarded_port", guest: 9090, host: 57784, id: "prometheus" # promtetheus port
      sms.vm.network "forwarded_port", guest: 9093, host: 57786, id: "alertmanager" # alertmanager port TODO: need to automate selection of host ports for the three services abovenow i
      sms.vm.network "forwarded_port", guest: 3000, host: 57785, id: "grafana" # grafana port TODO: need to automate selection of host ports for the three services abovenow i
      sms.vm.provision "shell", inline: "echo sms.localdomain > /etc/hostname"
      sms.vm.provision "shell", inline: "echo 192.168.7.2 sms sms.localdomain >> /etc/hosts"
      sms.vm.provision "shell", inline: "yum -y install http://repos.openhpc.community/OpenHPC/2/EL_8/x86_64/ohpc-release-2-1.el8.x86_64.rpm"
      sms.vm.provision "shell", inline: "yum install -y dnf-plugins-core"
      sms.vm.provision "shell", inline: "yum config-manager --set-enabled powertools"
      sms.vm.provision "shell", inline: "yum -y install docs-ohpc vim"
      sms.vm.provision "shell", inline: "/vagrant/resize-disk.sh"
      sms.vm.provision "shell", inline: "/vagrant/recipe.sh"
      # Disable SELINUX. Inteferes with internode communication
      sms.vm.provision "shell", inline: "sed -i 's/SELINUX=enforcing/SELINUX=disabled/' /etc/sysconfig/selinux"
      sms.vm.provision "shell", inline: "sed -i 's/SELINUX=enforcing/SELINUX=disabled/' /etc/selinux/config"
      sms.vm.provision "shell", inline: "if setenforce 0 >&2 ; then echo 'already disabled'; fi", run: "always"
      sms.vm.provision "shell", inline: "hostname sms.localdomain", run: "always"
      sms.vm.provision "shell", inline: "/vagrant/slurmdb-setup.sh"

    end

